<!doctype html>
<html lang="en">
    <head> <% include partials/head.html %>
  
    </head>

  <body>
     <section id="banner">
       <h2>Escuela Entorno Protector</h2>
       <ul class="actions special">
        <li><button type="button" id="login" class="button primary btn-outline-info" ><span style="color: blue"><b>Ingresar</b></span></button>   
       </ul>
     </section>

   
  </body>
<% include partials/scriptsCall.html %>

<script src="/controlAuth/configFireBase.js"></script>
<script src="/controlAuth/auth.js"></script>


</html>