<!DOCTYPE html>
<html lang="en">

<% include partials/head.html %>
<% include partials/navigation.html %>

<body>
    <div class="class container">
        <br>
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <section id="datosEstudiantes" class="box">
                    <div class="col-12 col-12-mobilep">
                        <header>
                            <h3>Su Reporte ha sido Eliminado.</h3>
                            <p>Hemos borrado tu reporte.</p>
                        </header>
                    </div>
                    <form action="" method="post">
                       <div class="row gtr-uniform gtr-50">
                            <div class="col-12 col-12-mobilep">
                                <center>
                                    <img src="/assets/images/delete.png" width="150px" height="150px" alt="" srcset="">
                                </center>
                            </div>
                            <div class="col-12 col-12-mobilep">
                                <button type="button" id="backRequiere"
                                    class="button special btn-info btn-block btn-">Enviar Otro Requerimiento</button>
                            </div>
                            <div class="col-12 col-12-mobilep">
                                <button type="button" id="irmenu"
                                    class="button special icon fa-search  btn-block btn-">Menu principal
                                </button>
                            </div>
                        </div>
                    </form>
                    <br>
                </section>
               
                
            </div>
        </div>
    </div>
    <% include partials/scriptsCall.html %>
</body>

</html>