<!doctype html>
<html lang="en">
        <head>
                <% include ../partials/head.html %>
                <% include ../partials/navigation.html %>
            <title><%=title%></title>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          </head>
  <body onload="controlGate()" class="is-preload">
      <div id="main">
          <div class="class container">
              <div class="container h-100">
                  <div class="row h-100 justify-content-center align-items-center">
                    <section id="datosEstudiantes" class="box">
                        <div class="row gtr-uniform gtr-50">
                                <div class="col-8 col-12-mobilep">
                                        <header>
                                            <h3>Procesos Operativos</h3>
                                            <p>Listados de todas las procesos del plan operativo del PEEP.</p>
                                        </header>
                                    </div>
                            <div class="col-12 col-12-mobilep">
                                <input type="search" class="light-table-filter form-control" data-table="order-table"
                                   placeholder="Filtrar...">
                            </div>
                            <div class="col-12 col-12-mobilep">
                                <table class="order-table table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Cod. Estrategia</th>
                                        <th scope="col">Cód. Proceso</th>
                                        <th scope="col">Nombre del Proceso</th>
                                        <th scope="col">Objetivo del la Proceso</th>
                                        <th scope="col">Editar Proceso</th>
                                    </tr>
                                </thead>
                                <tbody id="resultados">
                                    <%if (resQProcesos.length){%>
                                    <% let tam=0; %>
                                    <% tam= resQProcesos[0].rows.length; %>
                                    <br>

                                    <% for( var i=0; i< tam; i++){ %>
                                    <tr>
                                        <td><%=resQProcesos[0].rows[i].idestrategia %></td>
                                        <td><%=resQProcesos[0].rows[i].idproceso %></td>
                                        <td><%=resQProcesos[0].rows[i].nombreproceso %></td>
                                        <td><%=resQProcesos[0].rows[i].objetivoproceso %></td>
                                       
                                    
                                        <td>
                                            <form action="/procesos/update/<%=resQProcesos[0].rows[i].idproceso %>"
                                                method="POST">
                                                <button class="btn  btn-success" type="submit">Editar</button>
                                            </form>
                                        </td>
                                    </tr>

                                    <%  }  resQProcesos=[];%>
                                    <%}else{%> <p>No has reportado procesos</p><%}%>
                                    </tbody>
                                </table>
                            </div>  
                        </div>
                    </section>
                  </div>
              </div>
          </div>
      </div>
      <% include ../partials/scriptsCall.html %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>