<div class="class container">
    <br>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <section class="box">

                <div class="row gtr-uniform gtr-50">
                    <div class="col-12 col-12-mobilep">
                        <header>
                            <h3>Mis datos</h3>
                            <p>Verifica que sean tus datos...</p>
                        </header>
                    </div>
                    <div class="col-12 col-12-mobilep">
                        <form action="" method="post">
                            <div class="row gtr-uniform gtr-50">
                                <div class="col-8 col-12-mobilep">
                                    <label for="nombreProfesional">Nombre del profesional</label>
                                    <input type="text" class="form-control" name="nombreProfesional"
                                        id="nombreProfesional" placeholder="Nombre del profesional" required
                                        disabled />
                                </div>
                                <div class="col-4 col-12-mobilep">
                                    <label for="idprofesional">Identificación del profesional</label>
                                    <input type="number" class="form-control" name="idprofesional"
                                        id="idprofesional" value="" placeholder="Identificaión" required
                                        disabled />
                                </div>
                                <div class="col-8 col-12-mobilep">
                                    <label for="perfil">Perfil del profesional</label>
                                    <input type="text" class="form-control" name="perfil" id="perfil" value=""
                                        placeholder="Perfil del profesional" required disabled />
                                </div>
                                <div class="col-4 col-12-mobilep">
                                    <label for="programa">Programa al cual pertenece</label>
                                    <input type="text" class="form-control" name="programa" id="programa"
                                        value="" placeholder="Programa" required disabled />
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                    <br>
            </section>
        </div>
    </div>
</div>