<div class="col-3 col-12-mobilep" style="overflow-x: auto">
    <form action="" method="post">
        <button type="button" id="irEstrategia" class="btn btn-block btn-warning">Líneas</button>
    </form>
</div>
<div class="col-3 col-12-mobilep" style="overflow-x: auto">
    <form action="" method="post">
        <button type="button" id="irEstrategia" class="btn btn-block btn-warning">Estrategias</button>
    </form>
</div>
<div class="col-3 col-12-mobilep" style="overflow-x: auto">
    <form action="" method="post">
        <button type="button" id="irEstrategia" class="btn btn-block btn-warning">Procesos</button>
    </form>
</div>
<div class="col-3 col-12-mobilep" style="overflow-x: auto">
    <form action="" method="post">
        <button type="button" id="irEstrategia" class="btn btn-block btn-warning">Estrategias</button>
    </form>
</div>
